.App {

}

.App-header {
    background-color: #47741A;
    height: 120px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 3em;
    margin-left: 30px;
    font-family: Avenir;
    margin-bottom: 0px;
}

.navbar-font{
    font-family: Avenir;
    font-size: 18px;
}

.navbar {
    margin-bottom: 0px;
    float: left;
    border: none;
    background-color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #47741A;
    margin-right: 20px;
}

.navbar-default .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 30px;
}

.logout {
    margin-right: 20px;
    height: 100%;
    margin-top: 15px;
    color: #47741A;
}

.ReactTable .rt-tr{
  align-items: center;
}

.ReactTable .rt-tbody .rt-td{
  text-align: center;

}

.ReactTable .rt-thead.-header{
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color: #71a83a;
    color: white;
}

.table-container{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Avenir ;
}

.site_page-header{
  font-family: Avenir ;
  font-size: 24px;
  color: #47741A;
  margin: 40px 0 20px 30px;
}


