.App {

}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #47741A;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 3em;
  margin-left: 30px;
  font-family: Futura;
  margin-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
  float: left;
}

.navbar-default .navbar-nav>li>a {
  color: #47741A;
  font-family: Futura;
}

.navbar-default .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 30px;
}

.logout {
  float: right;
  margin-right: 50px;
  height: 100%;
  margin-top: 15px;

}

.menu-container{
  height:auto;
}

.clearFloat{
  clear: both;

}



